<!doctype html>
<html lang="en">
{% include "../header.html" with title="Create Event" %}
{% load widget_tweaks %}

<!-- TODO: Vendor -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">

<body>
    <main class="container">
        <article class="boxy">

            <form method="post">

                {{ form.non_field_errors }}
                {% csrf_token %}

                {{ form.title.errors }}
                {% render_field form.title class+="borderless party-title" placeholder="Smol Party Title" %}
                {{ form.tagline.errors }}
                {% render_field form.tagline class+="borderless party-tagline" placeholder="A dope tagline for your smol party" %}


                <div class="fieldWrapper">
                    {{ form.description.errors }}
                    <label for="{{ form.end_time.id_for_label }}">
                        <span class="party-detail">Description</span>
                    </label>
                    <div id="editor" class="boxy"></div>
                    {% render_field form.description class+="hidden" %}
                </div>
                <br>

                <div class="grid">
                    <div class="fieldWrapper">
                        {{ form.start_time.errors }}
                        <label for="{{ form.start_time.id_for_label }}">
                            <span class="party-detail">From</span>
                        </label>
                        {% render_field form.start_time class+="boxy" %}
                    </div>

                    <div class="fieldWrapper">
                        {{ form.end_time.errors }}
                        <label for="{{ form.end_time.id_for_label }}">
                            <span class="party-detail">Until</span>
                        </label>
                        {% render_field form.end_time class+="boxy" %}
                    </div>
                </div>

                <div class="fieldWrapper">
                    {{ form.location.errors }}
                    <label for="{{ form.location.id_for_label }}">
                        <span class="party-detail">Location</span>
                    </label>
                    {% render_field form.location class+="boxy" %}
                    <div id="location-preview"></div>
                </div>
                <p></p>
                <input type="submit" class="contrast" value="Submit">
            </form>
        </article>
    </main>

    <!-- TODO: Vendor -->
    <script src="https://unpkg.com/pell"></script>

    <!-- TODO: Move to own js file. -->
    <script>
        // Setup the location preview.
        document.getElementById("id_location").addEventListener("input", function (e) {
            var mapsUrl = "https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=" + encodeURIComponent(e.target.value) + "&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed";
            var embedHtml = '<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="' + mapsUrl + '"></iframe></div>';
            document.getElementById("location-preview").innerHTML = embedHtml;
        });

        // Setup the editor.
        const editor = pell.init({
            element: document.getElementById('editor'),
            onChange: html => {
                document.getElementById('id_description').textContent = html
            },
            styleWithCSS: true,
            actions: [
                'bold',
                'underline',
                'italic',
                'strikethrough',
                {
                  name: 'heading1',
                  icon: '<b>H</b>',
                  title: 'Heading 1',
                  result: () => pell.exec('formatBlock', '<h1>')
                },
                'line',
                'olist',
                'ulist',
                'image',
                'link',
            ],
            // Define the content class differently or else the unset breaks things.
            classes: {
                content: 'party-description',
            }
        })
        // If there's already some content (the form us being used for an update), set it.
        editor.content.innerHTML = document.getElementById('id_description').textContent;
    </script>
</body>