<!doctype html>
<html lang="en" data-theme="light">
    {% include "../header.html" with title="Edit Smol Party" %}
    {% load widget_tweaks %}
    <!-- TODO: Vendor -->
    <link rel="stylesheet"
          type="text/css"
          href="https://unpkg.com/pell/dist/pell.min.css"/>
    <body>
        <main class="container">
            <article>
            <form method="post">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {{ form.title.errors }}
                    {% render_field form.title class+="borderless party-title" placeholder="Party Title" %}
                    {{ form.tagline.errors }}
                    {% render_field form.tagline class+="borderless party-tagline" placeholder="A dope tagline for your smol party" %}
                    <div class="fieldWrapper">
                        {{ form.description.errors }}
                        <label for="{{ form.end_time.id_for_label }}">
                            <span class="party-detail">Description</span>
                        </label>
                        <div id="editor"></div>
                        {% render_field form.description class+="hidden" %}
                    </div>
                    <br />
                    <div class="grid">
                        <div class="fieldWrapper">
                            {{ form.start_time.errors }}
                            <label for="{{ form.start_time.id_for_label }}">
                                <span class="party-detail">From</span>
                            </label>
                            {% render_field form.start_time %}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.end_time.errors }}
                            <label for="{{ form.end_time.id_for_label }}">
                                <span class="party-detail">Until</span>
                            </label>
                            {% render_field form.end_time %}
                        </div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.location.errors }}
                        <label for="{{ form.location.id_for_label }}">
                            <span class="party-detail">Location</span>
                        </label>
                        {% render_field form.location %}
                        <div id="location-preview"></div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.has_confetti.errors }}
                        {% render_field form.has_confetti %}
                        <label for="{{ form.has_confetti.id_for_label }}">
                            <span class="party-detail">Launch Confetti When Opened</span>
                        </label>
                        <div class="grid hidable">
                            <div class="fieldWrapper">
                                {{ form.confetti_emojis.errors }}
                                <label for="{{ form.location.id_for_label }}">
                                    <span class="party-detail">Confetti Emojis</span>
                                </label>
                                {% render_field form.confetti_emojis value="🎉✨🍾" %}
                            </div>
                            <div class="fieldWrapper">
                                {{ form.confetti_amount.errors }}
                                <label for="{{ form.location.id_for_label }}">
                                    <span class="party-detail">Confetti Amount</span>
                                </label>
                                {% render_field form.confetti_amount value="100" %}
                            </div>
                            <div>
                                <label for="{{ form.location.id_for_label }}">
                                    <span class="party-detail">Test</span>
                                </label>
                                <a role="button"
                                   onclick="event.preventDefault();launchConfetti()"
                                   href="#">Confetti Me</a>
                            </div>
                        </div>
                    </div>
                    {% if object %}
                        <input type="submit" value="Update Party".>
                        <hr />
                        <center><small>Or, <a href="{% url 'events:delete' event.id %}?secret={{ event.secret }}">click here</a> to delete your party.</small></center>
                    {% else %}
                        <input type="submit" value="Create Party"/>
                    {% endif %}
                </form>
            </article>
        </main>
        <!-- TODO: Vendor -->
        <script src="https://unpkg.com/pell"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
        <!-- TODO: Move to own js file. -->
        <script>
        function previewLocation(location) {
            var mapsUrl = "https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=" + encodeURIComponent(location) + "&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed";
            var embedHtml = '<div class="location-preview"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="' + mapsUrl + '"></iframe></div>';
            document.getElementById("location-preview").innerHTML = embedHtml;
        }

        // Setup the location preview so it updates when someone types into the field.
        document.getElementById("id_location").addEventListener("input", function (e) {previewLocation(e.target.value);});

        // If the location is already set (someone is updating the event), preview it.
        {% if event.location %}        previewLocation("{{ event.location }}");{% endif %}

        // Setup the editor.
        const editor = pell.init({
            element: document.getElementById('editor'),
            onChange: html => {
                document.getElementById('id_description').textContent = html
            },
            styleWithCSS: true,
            actions: [
                'bold',
                'underline',
                'italic',
                'strikethrough',
                {
                  name: 'heading1',
                  icon: '<b>H</b>',
                  title: 'Heading 1',
                  result: () => pell.exec('formatBlock', '<h1>')
                },
                'line',
                'olist',
                'ulist',
                'image',
                'link',
            ],
            // Define the content class differently or else the unset breaks things.
            classes: {
                content: 'party-description',
            }
        })
        // If there's already some content (the form us being used for an update), set it.
        editor.content.innerHTML = document.getElementById('id_description').textContent;
        
        // Setup the confetti button.
        const jsConfetti = new JSConfetti();
        
        // Use this for testing the confetti.
        function launchConfetti() {
            jsConfetti.addConfetti({
                "emojis": Array.from(document.getElementById("id_confetti_emojis").value),
                "confettiNumber": parseInt(document.getElementById("id_confetti_amount").value),
            });
        }
        </script>
    </body>
</html>
