<!doctype html>
<html lang="en" data-theme="light">
    {% include "../header.html" with title="Delete RSVP" %}
    {% load widget_tweaks %}
    <body>
        <main class="container">
            <article>
                <form method="post">
                    {% csrf_token %}
                    <p>
                        Are you sure you want to delete your RSVP to {{ event.title }}?
                    </p>
                    <input type="submit" value="Confirm"/>
                </form>
            </article>
        </main>
    </body>
</html>
