<!doctype html>
<html lang="en">
{% include "./header.html" with title=event.title %}

<body>
	<main class="container">
		<article class="boxy">
			<hgroup>
				<h1 class="party-title">{{ event.title }}</h1>
				<h2 class="party-tagline">{{ event.tagline }}</h2>
			</hgroup>
			<p>{{ event.description|linebreaks }}</p>
			<p><span class="party-detail">When:</span>
				From <mark>{{ event.start_time }}</mark>
				until <mark>{{ event.end_time }}</mark>
			</p>
			<p><span class="party-detail">Where:</span>
				<a href='{{ event.google_maps_url|safe }}'>
					<a href='{{ event.apple_maps_url|safe }}'>
						<mark>{{ event.location }}</mark></a></a>
			</p>
			<p>
			<div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
					marginwidth="0" src="{{ event.google_maps_url|safe }}"></iframe></div>
			</p>

			<div class="grid">
				{% if event.id|safe in request.session %}
				<a role="button" class="contrast bump outline">You're RSVP'd!</a>
				{% else %}
				<a href="{% url 'events:rsvp' event.id %}" role="button" class="contrast bump">RSVP Now</a>
				{% endif %}
				<a role="button" class="contrast bump"
					onclick='shareEvent("Smol.Party - {{ event.title }}", "RSVP to this event!", window.location.href)'>Share</a>
				<a href="{{ event.add_to_gcal_link|safe }}" role="button" class="contrast bump">Add to Gcal</a>
			</div>


			<div>
				<h2 class="party-detail-header">Responses</h2>
				{% if event.rsvp_set.all %}
				<div class="rsvps">
					<ul>
						{% for rsvp in event.rsvp_set.all %}
						<li><b>{{ rsvp.name }}</b> is attending</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
				<p>No one has RSVP'd yet.</p>
				{% endif %}
			</div>

		</article>
		<footer>
			<small><a href="https://github.com/x/smol-party" class="secondary">Show me the source code!</a>!</small>
		</footer>
	</main>
</body>

{% include "./footer.html" %}

</html>