<!doctype html>
<html lang="en">
{% include "./header.html" with title=event.title %}

<body>
    <main class="container">
        <article class="boxy">
        <h1 class="party-title">Upcoming Events</h1>
        {% if events %}
        <ul>
            {% for event in events %}
            <li><a href="{% url 'events:detail' event.id %}">{{ event.title }}</a> - {{ event.start_time }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No upcoming events.</p>
        {% endif %}
    </article>

    </main>
</body>

</html>