<!doctype html>
<html lang="en">
{% include "./header.html" with title=event.title %}

<body>
    <main class="container">
        <article class="boxy">
            <h1 class="party-title">RSVP to <u>{{ event.title }}</u></h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ filed.errors }}
                    {{ filed.label_tag }}
                    <label for="{{ field.id_for_label }}">
                        {{ field.label|safe }}
                        {{ field }}
                    </label>
                </div>
                {% endfor %}
                <input type="submit" class="contrast" value="Submit">
            </form>
        </article>
    </main>
</body>