.rsvps ul {
  padding-left: 0;
}

.rsvps ul li {
  list-style: none;
}

.rsvps li:before {
  content: "☑ ";
}

.rsvp em {
  border-bottom: None;
}

.rsvp-name {
  font-weight: bold;
}

.rsvp-dish-name {
  font-weight: bold;
}

.rsvp-dish-atts em {
  border-bottom: none;
}

.boxy {
  margin: unset;
  border: 5px solid black;
}

.party-title {
  font-family: "Lobster", serif;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.party-tagline {
  font-family: "Lobster", serif;
  text-align: center;
  font-style: italic;
}

.party-detail-header {
  font-family: "Lobster", serif;
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 0;
}

.party-detail {
  font-family: "Lobster", serif;
  font-weight: bold;
}

.bump {
  margin-bottom: 5px;
}
